<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.t_robop.ikalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikalendar_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ikalendar_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReminderActivity" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".ReminderEditActivity" />
        <activity android:name=".TableTimeTodayActivity" />
        <activity android:name=".TimetableEditActivity" />
        <activity android:name=".CalenderDayViewActivity"
            android:parentActivityName=".CalendarActivity"/>
        <activity android:name=".CalenderAddPlanActivity"
            android:parentActivityName=".CalendarActivity"></activity>
    </application>

</manifest>